
body
{
	background-color: #f0f8ff;
}

p
{
	text-align: justify;
	padding: 0 10px 0 10px;
}

header
{
	display: flex;
	justify-content: space-between;
	background-color: #dcdcdc;
	border-bottom: 2px solid silver;
	padding: 10px 10px 10px 10px;
}

section
{
	text-align: center;
	margin: auto;
	width: 800px;
}



/*index*/
.presentation_gbaf
{
	text-align: center;
}


.contenu
{
	background-color: rgba(255, 255, 255, 0.925);
	border: 2px solid silver;
	border-radius: 10px;
	height: 200px;
	display: flex;
	justify-content: space-between;
	padding: 10px 5px 10px 5px;
	margin: 10px 0 10px 0;
}

.logo
{
	width: 250px;

}

.texte
{
	text-align: justify;
	width: 350px;
	overflow: hidden;
}

.boutons
{
	width: 100px;
	border: 2px solid black;
}


/*page partenaire*/
.partenaire_contenu
{
	background-color: rgba(255, 255, 255, 0.925);
	border: 2px solid silver;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	padding: 10px 5px 10px 5px;
	margin: 10px 0 10px 0;	
}

.partenaire_logo
{
	width: 800px;
	padding: 10px 10px 10px 10px;
}

.partenaire_texte
{
	text-align: justify;
	width: 800px;
	padding: 10px 10px 10px 10px;
}

.partenaire_boutons
{
	width: 800px;
	padding: 10px 10px 10px 10px;
}

.formulaire_vote
{
	width: 800px;
	height: 100px;
	background-color: rgba(255, 255, 255, 0.925);
	border: 2px solid silver;
	border-radius: 10px;
	margin: 10px 0 10px 0;	
}

.formulaire_commentaire
{
	width: 800px;
	height: 100px;
	background-color: rgba(255, 255, 255, 0.925);
	border: 2px solid silver;
	border-radius: 10px;
	margin: 10px 0 10px 0;	
}

.affichage_commentaire
{
	width: 800px;
	height: 400px;
	background-color: rgba(255, 255, 255, 0.925);
	border: 2px solid silver;
	border-radius: 10px;
	margin: 10px 0 10px 0;	
}

/*inscription*/

p.formulaire
{
	text-align: center;	
}


/*login*/
#banniere
{
	background-color: #dcdcdc;
	border-bottom: 2px solid silver;
	padding: 10px 10px 10px 10px;
	text-align: center;
}


footer
{
	margin: auto;
	width: 800px;
	height: 80px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	background-color: #dcdcdc;
	border-top: 2px solid silver;
	padding: 10px 10px 10px 10px;
}